* {
	padding: 0;
	margin: 0;
}
html{
	font-size: 10px;
}
body{
	font-size: 16px;
}
h1{
	color: #5c3d34;
}
.container{
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}

[class*='col-'] {
	padding: 0;
	margin: 0;
}

.slide{
	max-width: 200px;
	max-height: 125px;

	margin: 0 10px;
}



.slick-dots{
	margin-top: -30px;
	margin-bottom: 30px;
}

.slide img{
	width: 100%;
	height: 125px;
}

.header-wrap {
	margin-bottom: 30px;
	background-color: #d9796f;
}
.header__main-logo {
	max-width: 100px;
	height: 100px;
}
.header__headline {
	font-size: 	3rem;
}

.main-nav__ul {
	list-style: none;
	padding: 10px;
}	

.link-list,
.form,
.table {
	background-color: #fcba03;
	padding: 15px;
}

span{
	padding: 10px;
	color: blue;
}

.footer{
	margin-top: 15px;
	background-color: #fcba08;
}

.main-nav {
	margin-bottom: 15px;
	background-color: #fcba08;
}
 
.calculator{
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
}

.Reviews {
	margin: 10px;
	padding: 5px;
	border-style:  solid;
	border-width: 2px;
}

.rev{
	margin: 5px;
	padding: 2px;
	border-style:  solid;
	border-width: 1px;
}

.slider{
	/*margin: 20px ;*/
	padding: 40px;
	margin-right: 210px;
	margin-left: 210px; 
}